@import url('./__place/elements__place.css');
@import url('./__img/elements__img.css');
@import url('./__about/elements__about.css');
@import url('./__about-box/elements__about-box.css');
@import url('./__about-description/elements__about-description.css');
@import url('./__name/elements__name.css');
@import url('./__like-box/elements__like-box.css');
@import url('./__like-avatars/elements__like-avatars.css');
@import url('./__like-avatars_width/elements__like-avatars_width.css');
@import url('./__like-avatars-item/elements__like-avatars-item.css');
@import url('./__like-list/elements__like-list.css');
@import url('./__like-name/elements__like-name.css');
@import url('./__like-name-items/elements__like-name-items.css');
@import url('./__like-name-counter/elements__like-name-counter.css');
@import url('./__like/elements__like.css');
@import url('./__delete/elements__delete.css');

.elements {
  max-width: 882px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(0, 282px));
  grid-column-gap: 18px;
  grid-row-gap: 20px;
}

@media screen and (max-width : 1000px) {
  .elements {
    max-width: 584px;
  }
}

@media screen and (max-width : 650px) {
  .elements {
    max-width: 282px;
  }
}
