.elements__delete {
  background: none;
  background-image: url('../../../images/bth-delete.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  background-size: contain;
  border: none;
  z-index: 1;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none;
}

.elements__delete:hover {
  transition: .2s;
  opacity: .5;
  cursor: pointer;
}
