@import url('./__logo/header__logo.css');
@import url('./__nav/header__nav.css');
@import url('./__in/header__in.css');
@import url('./__registration/header__registration.css');
@import url('./__data/header__data.css');
@import url('./__email/header__email.css');
@import url('./__button/header__button.css');

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 882px;
  min-height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
}

@media screen and (max-width : 1000px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    padding-top: 28px;
    margin: 0;
  }
}
